@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&display=swap');

body, p, div, h1, h2, h3, button, input, table {
    font-family:'DM sans';
}


button {
    border: none;
    border-radius:5px;
    background-color:#3A3B3C;
    color:white;
    padding:5px 10px;
}
input {
    border: 1px solid #ccc;
    padding: 5px;
}

/* Scrollable container */
.scroll-container {
    overflow-x: auto;
    width: 100%;
}

/* Table Styling */
.user-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Table Cells */
.user-table td {
    padding: 10px;
    border: 1px solid black;
}

/* Username and Password columns (Equal Width) */
.username {
    width: 15%;
    word-wrap: break-word;
    overflow: hidden;
}

.uid {
    width: 5%;
    word-wrap: break-word;
    overflow: hidden;
}

/* Password Cell */
.password-cell {
    width: 20%;
    gap: 5px;
    align-items: center;
}
.del-cell {
    width:50px;
}
.groups-cel {
    max-width:60%;
    min-width:40%;
    width:40%;
}
/* Input Field */
.password {
    border: 1px solid #ccc;
    padding: 5px;
    width:calc(100% - 60px)
}

/* Buttons */
.set-btn, .delete-btn {
    padding: 5px 10px;
    cursor: pointer;
    border-radius:5px;
    width: min-content;
}

.set-btn {
    background-color: yellow;
    color: black;
    border: none;
    width:40px;
}

/* Delete Button */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
}

.group {
    border: 1px black solid;
    border-radius:5px;
    width:max-content;
    height:20px;
    padding:3px;
    align-items:center;
    display: flex;
}
.group2 {
    border: 1px black solid;
    border-radius:5px;
    width:max-content;
    height:20px;
    padding:3px;
    margin:10px;
    align-items:center;
    display: inline-flex;
}
.buttonrev {
    margin-left:3px;
}


.secondary {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1px;
}

/* .group + .group {
    margin-top:10px;
} */