@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&display=swap');

body, p, div, h1, h2, h3, button, input, table {
    font-family:'DM sans';
}
body {
    background-color:#3A3B3C;
    color:white;
}

hr {
    border:white 2px solid;
}

button {
    border: none;
    border-radius:5px;
    background-color:#cccccc;
    color:black;
    padding:5px 10px;
}
input {
    padding: 5px;
    background-color:#555657;
    color:white;
    border:none;
    border-radius:5px;
    outline:none;
}

/* Scrollable container */
.scroll-container {
    overflow-x: auto;
    width: 100%;
}

/* Table Styling */
.user-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Table Cells */
.user-table td {
    padding: 10px;
    border: none;
}

/* Username and Password columns (Equal Width) */
.username {
    width: 15%;
    word-wrap: break-word;
    overflow: hidden;
}

.uid {
    width: 5%;
    word-wrap: break-word;
    overflow: hidden;
}

/* Password Cell */
.password-cell {
    width: 20%;
    gap: 5px;
    align-items: center;
}
.del-cell {
    width:50px;
}
.groups-cel {
    max-width:60%;
    min-width:40%;
    width:40%;
}
/* Input Field */
.password {
    width:calc(100% - 60px)
}

/* Buttons */
.set-btn, .delete-btn {
    padding: 5px 10px;
    cursor: pointer;
    border-radius:5px;
    width: min-content;
}

.set-btn {
    background-color: yellow;
    color: black;
    border: none;
    width:40px;
}

/* Delete Button */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
}

.group, .group2 {
    background-color:#0a0a0a;
    border-radius:5px;
    width:max-content;
    height:25px;
    margin:10px;
    align-items:center;
    display: inline-flex;
}
.buttonrev {
    margin-left:3px;
    background-color:inherit;
    height:100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px 3px;
    align-items: center;
}

.buttonrev:hover {
    background-color:#303030;
    transition: 0.2s;
}

.closeimg {
    width:14px;
    height:14px;
    display:inline;
}
.groupname {
    margin-left:5px;
    margin-right:5px;
}

::placeholder {
    opacity:0.6;
    color:white;
}

.btnwarn {
    background-color:yellow;
}
.btnnormal {
    background-color:#95f702;
}

.snowtile {
    min-width:300px;
    width:fit-content;
    overflow-x:auto;
    height:70px;
    background-color:#555657;
    border: 3px solid #3A3B3C;
    border-radius:20px;
    overflow-y:hidden;
    display:inline-block;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    cursor: pointer
}

.snowtile::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.snowimg {
    height:100%;
    justify-content:center;

}


.snowcontent {
    position:relative;
    left:30px;
    top:0px;
    height:70px;
    line-height:50px;
    vertical-align: middle;
    display:inline-block;
}
.snowimginner {
    width:50px;height:50px; top:10px; left:10px; position:relative;
    
    transition: all 0.3s ease-in-out;
    background-size: contain; /* Adjust the size of the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display:inline-block;
    
}
.snowimgnormal{
    background-image: url('/assets/snowLDC.png');
}
.snowimgnormal:hover {
    background-image: url('/assets/snowLDC_play.png');
}
.snowimgcore{
    background-image: url('/assets/snowLDC_core.png');
}
.snowimgcore:hover {
    background-image: url('/assets/snowLDC_core_play.png');
}